
.card {
  padding-left: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  justify-content: center;
  }
  .pictureSize {
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
  }
  
  body{
    background-color: brown;
    justify-content: center;
    justify-items: center;
  }
  .banner_title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  .filter{
    justify-content: center;
  }
  .container{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    justify-content: center; 
    display: flex;
    flex-wrap: wrap;
  }